# Data Processing

## Configuration

In [41]:
# Library configuration
#pip3 install openpyxl

import pandas as pd
import numpy as np

In [42]:
# Data preparation
file_path = "data_nckh.xlsx" 
data = pd.ExcelFile(file_path)

In [43]:
# Printing sheet names
print("Sheets name:", data.sheet_names)

Sheets name: ['SV578', 'CB94', 'GV120']

In [44]:
# Splitting sheets into different dataframes
students_df = pd.read_excel(data, sheet_name="SV578")
lecturers_df = pd.read_excel(data, sheet_name="GV120")
staff_df = pd.read_excel(data, sheet_name="CB94")

## Data preparation

In [51]:
students_df

,University,Gender,Year,Region,PE1,PE2,PE3,PE4,PE5,PE6,...,TTF1,TTF2,TTF3,BI1,BI2,BI3,UB1,UB2,UB3,Group
0,Đại học Kinh tế Quốc dân,2,3,KV3,5,5,5,5,5,5,...,4,4,4,4,4,4,5,5,5,Student
1,Đại học Kinh tế Quốc dân,2,1,KV3,4,3,3,4,3,3,...,3,3,3,4,4,4,4,4,4,Student
2,Đại học Kinh tế Quốc dân,2,1,KV2-NT,3,3,3,3,4,4,...,4,3,4,4,4,4,4,4,4,Student
3,Đại học Kinh tế Quốc dân,2,1,KV2-NT,3,4,4,3,3,4,...,3,3,4,5,5,4,4,4,5,Student
4,Đại học Kinh tế Quốc dân,2,1,KV2-NT,4,3,3,3,3,3,...,4,4,4,3,3,3,4,4,4,Student
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
573,Đại học Ngoại thương,1,1,KV3,5,5,5,5,4,4,...,5,5,5,4,4,4,4,5,5,Student
574,Đại học Ngoại thương,2,1,KV3,5,5,5,5,5,5,...,4,4,4,4,4,3,4,5,5,Student
575,Đại học Ngoại thương,2,1,KV3,5,5,5,5,4,4,...,4,4,4,3,3,4,4,5,5,Student
576,Đại học Kinh tế Quốc dân,2,1,KV3,4,4,4,4,3,4,...,3,3,4,3,3,3,3,4,3,Student
577,Đại học Ngoại thương,1,2,KV2-NT,4,3,4,4,5,5,...,4,3,3,4,4,4,4,5,4,Student

In [52]:
lecturers_df

,University,Gender,Age,Years_of_Experience,Academic_Title,PE1,PE2,PE3,PE4,PE5,...,TTF1,TTF2,TTF3,BI1,BI2,BI3,UB1,UB2,UB3,Group
0,Đại học Kinh tế Quốc dân,2,5,5,5,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,Lecturer
1,Đại học Kinh tế Quốc dân,2,3,1,1,5,5,5,5,5,...,4,3,3,5,5,5,5,5,5,Lecturer
2,Đại học Kinh tế Quốc dân,2,3,2,1,4,4,4,3,2,...,4,4,3,3,3,3,3,3,2,Lecturer
3,Đại học Kinh tế Quốc dân,2,2,1,1,5,4,4,5,4,...,3,3,3,4,4,4,5,5,4,Lecturer
4,Đại học Kinh tế Quốc dân,2,3,2,1,5,4,4,4,4,...,4,3,4,4,4,4,4,4,5,Lecturer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,Học viện Tài chính,1,4,4,2,5,5,4,4,4,...,3,3,2,5,5,5,5,5,4,Lecturer
116,Học viện Ngân hàng,2,5,4,2,3,5,3,3,3,...,4,3,1,4,4,4,4,4,4,Lecturer
117,Học viện Tài chính,2,5,3,1,3,3,4,3,4,...,2,2,2,4,4,4,4,4,4,Lecturer
118,Học viện Tài chính,2,1,1,1,4,5,5,5,5,...,4,4,4,5,5,5,5,5,5,Lecturer
119,Học viện Tài chính,2,2,2,1,5,4,4,4,4,...,3,2,2,4,4,4,4,4,4,Lecturer

In [53]:
staff_df

,University,Gender,Age,Years_of_Experience,Academic_Title,Position,PE1,PE2,PE3,PE4,...,TTF1,TTF2,TTF3,BI1,BI2,BI3,UB1,UB2,UB3,Group
0,Đại học Kinh tế Quốc dân,2,4,3,1,2,5,5,5,5,...,5,4,4,5,5,5,5,5,5,Staff
1,Đại học Kinh tế Quốc dân,2,4,2,1,2,5,5,5,5,...,4,4,4,4,4,4,4,4,5,Staff
2,Đại học Kinh tế Quốc dân,1,1,1,1,3,5,4,5,5,...,2,3,2,5,5,5,5,4,3,Staff
3,Đại học Kinh tế Quốc dân,1,4,3,2,2,4,4,4,4,...,4,4,4,4,4,4,4,4,4,Staff
4,Đại học Kinh tế Quốc dân,2,2,1,1,2,4,4,4,4,...,3,2,4,4,4,4,3,4,4,Staff
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89,Học viện Ngân hàng,2,2,1,1,2,5,5,5,5,...,3,3,4,4,4,4,4,4,4,Staff
90,Học viện Tài chính,1,1,1,1,1,4,4,4,4,...,3,2,2,4,4,4,3,4,4,Staff
91,Đại học Kinh tế Quốc dân,2,2,1,1,1,5,5,5,5,...,3,3,3,5,5,5,5,5,5,Staff
92,Đại học Kinh tế Quốc dân,1,6,4,2,1,5,4,4,4,...,3,3,3,4,4,4,4,4,4,Staff
93,Học viện Ngân hàng,1,4,2,1,2,4,4,5,5,...,3,3,4,4,5,5,5,5,5,Staff

In [49]:
# Remove STT column
students_df.drop(columns="STT", inplace=True)
lecturers_df.drop(columns="Stt", inplace=True)
staff_df.drop(columns="STT", inplace=True)

In [50]:
# Encoding column name
# students_df
students_df.rename(columns={
    "Trường Đại học": "University",
    "Giới tính": "Gender",
    "Sinh viên năm": "Year",
    "Khu vực": "Region"
}, inplace=True)
students_df["Group"] = "Student"

# lecturers_df
lecturers_df.rename(columns={
    "Trường Đại học": "University",
    "Giới tính": "Gender",
    "Độ tuổi": "Age",
    "Số năm trong lĩnh vực giảng dạy": "Years_of_Experience",
    "Học hàm/học vị": "Academic_Title"
}, inplace=True)
lecturers_df["Group"] = "Lecturer"

# staff_df
staff_df.rename(columns={
    "Trường Đại học": "University",
    "Giới tính": "Gender",
    "Độ tuổi": "Age",
    "Số năm trong lĩnh vực giảng dạy": "Years_of_Experience",
    "Học hàm/học vị": "Academic_Title",
    "Ngạch thầy/cô": "Position"
}, inplace=True)
staff_df["Group"] = "Staff"